body::-webkit-scrollbar {
  display: none;
}

body {
  padding-top: 80px;
  /* Adjust this value based on your navbar height */
}


.header {
  background: rgba(255, 255, 255, 0.25);
  /* White with 25% opacity */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* For Safari support */
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 255, 72, 0.697);
  margin-top: 10px;
  position: fixed;

}

.navbar-nav .nav-link {
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #00ff00 !important;
}

.navbar-nav .nav-link::after {
  content: '';
  position: fixed;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #90EE90;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.sxhome {
  height: 70vh;
  padding-top: 80px;
}

.htext {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}



.hometext {
  margin-top: 15%;
  height: 70vh;
}

.himage {
  height: 100px;
  margin-top: 10%;

}

.slogen1 {
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 40px;
  margin-top: 30px;
}

.slogen2 {
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 40px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .himage {
    height: 50px;
    margin-top: 10%;
  }

  .slogen1 {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    margin-top: 30px;
  }

  .slogen2 {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    margin-top: 30px;
  }
}

.homeanimation {
  margin-top: 15vh;
}


.sxservice {
  height: 100vh;
  margin-top: 30vh;

}

.sxproject {
  height: 100vh;
  margin-top: 90vh;

}


.stitle {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 50px;

  text-shadow: 2px 2px 4px #00ff00;
}

@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
$main-green: #79dd09 !default;
$main-green-rgb-015: rgba(121, 221, 9, 0.1) !default;
$main-yellow: #bdbb49 !default;
$main-yellow-rgb-015: rgba(189, 187, 73, 0.1) !default;
$main-red: #bd150b !default;
$main-red-rgb-015: rgba(189, 21, 11, 0.1) !default;
$main-blue: #0076bd !default;
$main-blue-rgb-015: rgba(0, 118, 189, 0.1) !default;

/* This pen */

a,
a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;

  box-shadow: 0 4px 21px -12px rgba(0, 255, 13, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;

  &.dark {
    background-color: #18151f;
  }

  &.light {
    background-color: #e1e5ea;
  }

  .t-dark {
    color: #00ff2a;
  }

  a {
    color: inherit;
  }

  h1,
  .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .small {
    font-size: 80%;
  }

  .postcard__title {
    font-size: 1.75rem;
  }

  .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .postcard__img_link {
    display: contents;
  }

  .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
  }

  .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }

  .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center;

    .tag__item {
      display: inline-block;
      background: rgba(83, 83, 83, 0.4);
      border-radius: 3px;
      padding: 2.5px 10px;
      margin: 0 5px 5px 0;
      cursor: default;
      user-select: none;
      transition: background-color 0.3s;

      &:hover {
        background: rgba(83, 83, 83, 0.8);
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }

  &:hover .postcard__bar {
    width: 100px;
  }
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;

    .postcard__title {
      font-size: 2rem;
    }

    .postcard__tagbox {
      justify-content: start;
    }

    .postcard__img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }

    .postcard__text {
      padding: 3rem;
      width: 100%;
    }

    .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }

    &:hover .postcard__img {
      transform: scale(1.1);
    }

    &:nth-child(2n+1) {
      flex-direction: row;
    }

    &:nth-child(2n+0) {
      flex-direction: row-reverse;
    }

    &:nth-child(2n+1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }

    &:nth-child(2n+0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
}

@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem;
  }

  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;

    top: -20%;
    height: 130%;
    width: 55px;
  }

  .postcard.dark {
    .postcard__text:before {
      background: #00ff00;
    }
  }

  .postcard.light {
    .postcard__text:before {
      background: #e1e5ea;
    }
  }
}

/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
  background: $main-green;
  background: #00ff00;
  color: black;
}

.green .postcard__title:hover {
  color: $main-green;
}

.green .postcard__bar {
  background-color: $main-green;
}

.green::before {
  background-image: linear-gradient(-30deg,
      $main-green-rgb-015,
      transparent 50%);
}

.green:nth-child(2n)::before {
  background-image: linear-gradient(30deg, $main-green-rgb-015, transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
  background: $main-blue;
}

.blue .postcard__title:hover {
  color: $main-blue;
}

.blue .postcard__bar {
  background-color: $main-blue;
}

.blue::before {
  background-image: linear-gradient(-30deg, $main-blue-rgb-015, transparent 50%);
}

.blue:nth-child(2n)::before {
  background-image: linear-gradient(30deg, $main-blue-rgb-015, transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
  background: $main-red;
}

.red .postcard__title:hover {
  color: $main-red;
}

.red .postcard__bar {
  background-color: $main-red;
}

.red::before {
  background-image: linear-gradient(-30deg, $main-red-rgb-015, transparent 50%);
}

.red:nth-child(2n)::before {
  background-image: linear-gradient(30deg, $main-red-rgb-015, transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
  background: $main-yellow;
  color: black;
}

.yellow .postcard__title:hover {
  color: $main-yellow;
}

.yellow .postcard__bar {
  background-color: $main-yellow;
}

.yellow::before {
  background-image: linear-gradient(-30deg,
      $main-yellow-rgb-015,
      transparent 50%);
}

.yellow:nth-child(2n)::before {
  background-image: linear-gradient(30deg,
      $main-yellow-rgb-015,
      transparent 50%);
}

@media screen and (min-width: 769px) {
  .green::before {
    background-image: linear-gradient(-80deg,
        $main-green-rgb-015,
        transparent 50%);
  }

  .green:nth-child(2n)::before {
    background-image: linear-gradient(80deg,
        $main-green-rgb-015,
        transparent 50%);
  }

  .blue::before {
    background-image: linear-gradient(-80deg,
        $main-blue-rgb-015,
        transparent 50%);
  }

  .blue:nth-child(2n)::before {
    background-image: linear-gradient(80deg, $main-blue-rgb-015, transparent 50%);
  }

  .red::before {
    background-image: linear-gradient(-80deg, $main-red-rgb-015, transparent 50%);
  }

  .red:nth-child(2n)::before {
    background-image: linear-gradient(80deg, $main-red-rgb-015, transparent 50%);
  }

  .yellow::before {
    background-image: linear-gradient(-80deg,
        $main-yellow-rgb-015,
        transparent 50%);
  }

  .yellow:nth-child(2n)::before {
    background-image: linear-gradient(80deg,
        $main-yellow-rgb-015,
        transparent 50%);
  }
}

/*project*/
.sxproject {

  
  
  padding-bottom: 20px;

}


.sxteam{
  margin-top: 20%;
}

@media (max-width:1024px) {
  .sxproject{
  
  margin-top: 900PX;
  height: 100vh;
  padding-bottom: 20px;
  }
}

@media (max-width:768px) {
  .sxproject{
  
  margin-top: 1300PX;
  height: 100vh;
  padding-bottom: 20px;
  }
}

@media (max-width:576px) {
  .sxproject{
  
  margin-top: 1600PX;
  height: 100vh;
  padding-bottom: 20px;
  }
}

@media (max-width:440px) {
  .sxproject{
  
  margin-top: 1600PX;
  height: 100vh;
  padding-bottom: 20px;
  }

    .sxteam{
  
  margin-top: 800PX;
  height: 100vh;
  padding-bottom: 20px;
  }
  
}

@media (max-width:345px){
  .sxproject{
  
    margin-top: 1800PX;
    height: 100vh;
    padding-bottom: 20px;
    }

    .sxteam{
  
    margin-top: 500PX;
    height: 100vh;
    padding-bottom: 20px;
    }

}






.project-image {
  padding: 10px;
}

.project-image img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.project-image img:hover {
  transform: scale(1.1);
}

.photo-gallery {

  height: 100vh;
}


@media (max-width:767px) {


  .photo-gallery .photos {
    padding-bottom: 20px;

  }

  .photo-gallery .item {
    padding-bottom: 30px;

  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes slide {
  from {
    transform: translateX(0);
  } to {
    transform: translateX(-100%);
  }
}
.icons{
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  margin-top: 100px;

}



.icons:hover .icons-slide{
  animation-play-state: paused;
}

.icons-slide{
  display: inline-block;
  
  animation: 35s slide infinite linear;
}

.icons-slide img{
  height: 80px;
  margin: 0 50px;
}


.sxteambody{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
  font-family: "Merriweather";
}
.person {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}
.containert {
  height: 312px;
  width: 400px;
  cursor: pointer;
  transform: scale(0.48);
  transition: transform 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
}
.circle {
  position: absolute;
  background-color: #00ff2a;
  height: 380px;
  width: 380px;
  top: 210px;
  left: 10px;
  border-radius: 50%;
}
.person img {
  position: relative;
  width: 380px;
  top: 164px;
  left: 22px;
  transform: translateY(20px) scale(1.15);
  transition: transform 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
}
.conianer-innert {
  position: relative;
  clip-path: path("M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z");
  top: -200px;
}
.divider {
  height: 3px;
  width: 130px;
  border-radius: 5px;
  background-color: #00ff2a;
}
.person h1 {
  color: #464646;
  text-shadow: #00ff00 60px 20px 0 0;
  margin: 16px 0 0 0;
  text-align: center;
}
.person p {
  font-family: arial;
  color: #6e6e6e;
  font-size: 14px;
  margin-top: 5px;
}
/* hover */
.containert:hover {
  transform: scale(0.54);
} 
.containert:hover img {
  transform: translateY(0) scale(1.3);
}

/* contact us*/

/* From Uiverse.io by DavidTM96 */ 
.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: inherit;
  gap: 10px;
  padding-inline: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  background-color: #0a192f;
  border-radius: 20px;
}

.form-heading {
  text-align: center;
  margin: 2em;
  color: #f9fff9;
  font-size: 1.2em;
  background-color: transparent;
  align-self: center;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 30px;

  text-shadow: 2px 2px 4px #00ff00;

}

.form-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 10px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #ccd6f6;
  padding-inline: 1em;
}

.sendMessage-btn {
  cursor: pointer;
  margin-bottom: 3em;
  padding: 1em;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #00ff08;
  font-weight: bold;
  outline: 1px solid #01ff2f;
  transition: all ease-in-out 0.3s;
}

.sendMessage-btn:hover {
  transition: all ease-in-out 0.3s;
  background-color: #00ff09;
  color: #000;
  cursor: pointer;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.form-card1 {
  background-image: linear-gradient(163deg, #64ffda 0%, #64ffda 100%);
  border-radius: 22px;
  transition: all 0.3s;
}

.form-card1:hover {
  box-shadow: 0px 0px 30px 1px rgba(1, 255, 60, 0.796);
}

.form-card2 {
  border-radius: 0;
  transition: all 0.2s;
}

.form-card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.contactform{
  margin-top: 80px;
}

/*footer*/

.footer-link {
  color: #1aea27;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-link:hover {
  color: #fff;
  text-decoration: underline;
}

.social-icon {
  color: #ddd;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.social-icon img:hover {
  color: #007bff;
  transform: scale(1.1);
}

.footer {
  background-color: #ffffff3a;
  padding: 20px 0;
  margin-top: 20px;
  border-radius: 10px;
}

.footer .container .row h5 {
  color: #f8f9fa;
}

.footer .container .row ul li {
  margin-bottom: 10px;
}

.footer .container .row ul li a {
  color: #adb5bd;
}

.footer .container .row ul li a:hover {
  color: #f8f9fa;
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer .container .row {
      text-align: center;
  }
}


